services:
  upload-tunkin-be:
    container_name: upload-tunkin-be
    image: upload-tunkin-be:latest
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8082:80"
    env_file:
      - .env
    network_mode: bridge
